<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
       body {
            font-family: 'sans-serif';
            background-image: url(./logo.png);
            background-position:top;
            background-repeat: no-repeat;
            background-size:cover;
        }
        table th{
            border: 1px solid black;
            font-size: 25px;
        }
        .form-controls{
            width: 100%;
            border-radius:10px;
            padding: 2px;
            border: solid whitesmoke;
            box-shadow: 0px 1px 5px black;
        }
        .update{
            background-color: rgb(4, 255, 0);
            border-radius: 10px ;
            padding: 5px 10px ;
        }

    </style>
</head>

<body>
  
    <%- include('./partial/header.ejs') %>

    <div class="container text-center mt-4">
        <h1>Edit Your Book</h1>
        <form action="/insertData" method="post" class="form-inline col-md-12" enctype="multipart/form-data">
            <table class="table table-bordered">
                <tr>
                    <th>Image : </th>
                    <td>
                        <input type="file" name="image" id="">
                        <img src="../<%= data.image %>" alt="" width="100px">
                        <input type="hidden" name="id" value="<%= data._id %>">
                    </td>
                </tr>
                <tr>
                    <th>Title : </th>
                    <td><input type="text" name="title" value="<%= data.title %>" class="form-controls"></td>
                </tr>
                <tr>
                    <th>Author : </th>
                    <td><input type="text" name="author" value="<%= data.author %>" class="form-controls"></td>
                </tr>
                <tr>
                    <th>Publish-Date : </th>
                    <td><input type="date" name="date" value="<%= data.date %>" class="form-controls"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Update" class="update"></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>